.section {
  margin: 12px;
}

.header {
  width: 100%;
  border: none;
  background: var(--primary-green);
  color: var(--primary-beige);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.headerTitle {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
}

.chevron {
  font-size: 22px;
  line-height: 1;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.option {
  width: 100%;
  border: none;
  background: rgb(197, 222, 183);
  padding: 14px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.optionText {
  font-size: 28px;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: var(--primary-green);
  letter-spacing: 0.5px;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid var(--primary-green);
  background: transparent;
}

.dotSelected {
  background: var(--primary-green);
}
