.addButton {
  width: 60%;
  justify-self: center;
  border: none;
  background: var(--primary-green);
  color: var(--primary-beige);
  padding: 12px;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
