.overlay {
  position: fixed;
  inset: 0;
  z-index: 99999;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: min(90vw, 320px);
  height: 100vh;
  background: var(--primary-green);
  padding: 16px;
  color: white;
}

.openButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--primary-green);
  background-color: rgba(240, 234, 211, 0.737);
}

.open {
  animation: slideIn 200ms ease-out forwards;
}

.closing {
  animation: slideOut 200ms ease-in forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110%);
  }
}

.closeButton {
  position: absolute;
  background: transparent;
  color: var(--primary-beige);
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  top: 1rem;
  right: 1rem;
}

.nav {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link {
  color: var(--primary-beige);
  text-decoration: none;
  padding: 10px 12px;
  border-left: 2px solid rgba(240, 234, 211, 0.737);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.link:hover {
  border-color: rgba(255, 255, 255, 0.75);
}
