.toast {
  background: #444;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  box-shadow: 0px 0px 14px 2px rgba(103, 103, 103, 0.555);
}

.toast button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.info {
  background: #444;
  border: 1px solid rgb(207, 207, 207);
}

.success {
  background: var(--primary-green);
  border: 1px solid rgb(173, 211, 159);
}

.error {
  background: var(--primary-red);
  border: 1px solid rgb(237, 182, 172);
}
