.wrap {
  position: relative;
  width: min(90vw, 70vh, 420px);
  aspect-ratio: 1/1;
  margin: 24px auto;
  display: grid;
  place-items: center;
}

.base {
  position: relative;
  width: min(90vw, 70vh, 420px);
  aspect-ratio: 1 /1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.raw {
  background-color: rgb(238, 195, 142);
}

.making {
  background-color: rgb(238, 195, 142);
}

.oven {
  animation: cooking 3s infinite ease-in-out;
}

.ready {
  background-color: rgb(227, 176, 87);
}

.layer {
  position: absolute;
  inset: 0;
}

@keyframes cooking {
  0% {
    background-color: rgb(238, 195, 142);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  50% {
    background-color: rgb(227, 176, 87);
    -webkit-box-shadow: 0px 0px 40px 7px rgba(255, 102, 46, 0.7);
    -moz-box-shadow: 0px 0px 40px 7px rgba(255, 102, 46, 0.7);
    box-shadow: 0px 0px 40px 7px rgba(255, 102, 46, 0.7);
  }
  100% {
    background-color: rgb(238, 195, 142);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.ovenContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: space-around;
  width: min(90vw, 70vh, 420px);
  height: 100vw;
}

.ovenRod {
  background-color: rgb(255, 236, 236);
  height: 3px;
  width: 100%;
}

.plate {
  position: absolute;
  width: min(95vw, 75vh, 440px);
  aspect-ratio: 1 /1;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.makingLayer {
  opacity: 0;
  animation-name: layerIn;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.makingLoop {
  animation: makingLoop 4s infinite;
  transition: all 0.25s allow-discrete;
}

@keyframes layerIn {
  100% {
    opacity: 1;
  }
}

@keyframes makingLoop {
  0% {
    display: block;
  }
  85% {
    display: none;
  }
  100% {
    display: none;
  }
}
