.base {
  position: relative;
  width: min(90vw, 70vh, 420px);
  aspect-ratio: 1 /1;
  border-radius: 50%;
  margin: 24px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.raw {
  background-color: rgb(238, 195, 142);
}

.oven {
  animation: cooking 3s infinite ease-in-out;
}

.ready {
  background-color: rgb(242, 192, 106);
}

.layer {
  position: absolute;
  inset: 0;
}

@keyframes cooking {
  0% {
    background-color: rgb(238, 195, 142);
  }
  50% {
    background-color: rgb(242, 192, 106);
  }
  100% {
    background-color: rgb(242, 192, 106);
  }
}
