#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button {
  border-radius: 0px;
  margin: 6px;
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(173, 173, 173);
}
