#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.base {
  display: flex;
  position: relative;
  width: 563px;
  height: 563px;
  background-color: rgb(255, 204, 143);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
