.order {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
  font-weight: 600;
  z-index: 9999;
  gap: 20px;
  background-color: rgb(236, 236, 236);
}

.optionsList {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 600;
  z-index: 9999;
}

.column {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow: scroll;
  background-color: rgb(247, 247, 247);
  gap: 20px;
  width: 290px;
}

.id {
  font-size: 10px;
}

.notes {
  text-wrap: wrap;
  color: rgb(255, 0, 0);
}
