.svg {
  width: 98%;
  height: 98%;
  display: block;
}

.basil {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .basil {
  fill: #84bb76;
}

.making .basil {
  fill: #84bb76;
}

.oven .basil {
  animation: cooking 3s infinite ease-in-out;
}

.ready .basil {
  fill: #7ca053;
}

@keyframes cooking {
  0% {
    fill: #84bb76;
  }
  50% {
    fill: #7ca053;
  }
  100% {
    fill: #84bb76;
  }
}
