.svg {
  width: 98%;
  height: 98%;
  display: block;
}

.corn {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .corn {
  fill: #e5d653;
}

.making .corn {
  fill: #e5d653;
}

.oven .corn {
  animation: cooking 3s infinite ease-in-out;
}

.ready .corn {
  fill: #cbba21;
}

@keyframes cooking {
  0% {
    fill: #e5d653;
  }
  50% {
    fill: #cbba21;
  }
  100% {
    fill: #e5d653;
  }
}
