.svg {
  width: 98%;
  height: 98%;
  display: block;
}

.fiordilatte {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .fiordilatte {
  fill: #ffeda2;
}

.making .fiordilatte {
  fill: #ffeda2;
}

.oven .fiordilatte {
  animation: cooking 3s infinite ease-in-out;
}

.ready .fiordilatte {
  fill: #ffe57e;
}

@keyframes cooking {
  0% {
    fill: #ffeda2;
  }
  50% {
    fill: #ffe57e;
  }
  100% {
    fill: #ffeda2;
  }
}
