.svg {
  width: 98%;
  height: 98%;
  display: block;
}

.ham {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .ham {
  fill: #dea2b9;
}

.making .ham {
  fill: #dea2b9;
}

.oven .ham {
  animation: cooking 3s infinite ease-in-out;
}

.ready .ham {
  fill: #d08787;
}

@keyframes cooking {
  0% {
    fill: #dea2b9;
  }
  50% {
    fill: #d08787;
  }
  100% {
    fill: #dea2b9;
  }
}
