.svg {
  width: 98%;
  height: 98%;
  display: block;
}

.mushroomMed {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .mushroomMed {
  fill: #b6975aff;
}

.making .mushroomMed {
  fill: #b6975aff;
}

.oven .mushroomMed {
  animation: cookingMed 3s infinite ease-in-out;
}

.ready .mushroomMed {
  fill: rgb(133, 110, 65);
}

.mushroomLight {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .mushroomLight {
  fill: #ceb37fff;
}

.making .mushroomLight {
  fill: #ceb37fff;
}

.oven .mushroomLight {
  animation: cookingLight 3s infinite ease-in-out;
}

.ready .mushroomLight {
  fill: rgb(170, 147, 105);
}

.mushroomDark {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .mushroomDark {
  fill: #a48b59ff;
}

.making .mushroomDark {
  fill: #a48b59ff;
}

.oven .mushroomDark {
  animation: cookingDark 3s infinite ease-in-out;
}

.ready .mushroomDark {
  fill: rgb(86, 73, 47);
}

@keyframes cookingMed {
  0% {
    fill: #b6975aff;
  }
  50% {
    fill: rgb(133, 110, 65);
  }
  100% {
    fill: #b6975aff;
  }
}

@keyframes cookingLight {
  0% {
    fill: #ceb37fff;
  }
  50% {
    fill: rgb(170, 147, 105);
  }
  100% {
    fill: #ceb37fff;
  }
}

@keyframes cookingDark {
  0% {
    fill: #a48b59ff;
  }
  50% {
    fill: rgb(86, 73, 47);
  }
  100% {
    fill: #a48b59ff;
  }
}
