.svg {
  width: 98%;
  height: 98%;
  display: block;
}

.olive {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .olive {
  fill: #6f6474;
}

.making .olive {
  fill: #6f6474;
}

.oven .olive {
  animation: cooking 3s infinite ease-in-out;
}

.ready .olive {
  fill: #3d2f44;
}

@keyframes cooking {
  0% {
    fill: #6f6474;
  }
  50% {
    fill: #3d2f44;
  }
  100% {
    fill: #6f6474;
  }
}
