.svg {
  width: 98%;
  height: 98%;
  display: block;
}

.onion {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .onion {
  fill: #beb1c4;
}

.making .onion {
  fill: #beb1c4;
}

.oven .onion {
  animation: cooking 3s infinite ease-in-out;
}

.ready .onion {
  fill: #a0889c;
}

@keyframes cooking {
  0% {
    fill: #beb1c4;
  }
  50% {
    fill: #a0889c;
  }
  100% {
    fill: #beb1c4;
  }
}
