.svg {
  width: 98%;
  height: 98%;
  display: block;
}

.oregano {
  transition:
    fill 300ms ease,
    opacity 300ms ease;
}

.raw .oregano {
  fill: #689d49;
}

.making .oregano {
  fill: #689d49;
}

.oven .oregano {
  animation: cooking 3s infinite ease-in-out;
}

.ready .oregano {
  fill: #587249;
}

@keyframes cooking {
  0% {
    fill: #689d49;
  }
  50% {
    fill: #587249;
  }
  100% {
    fill: #689d49;
  }
}
