#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.layer {
  position: absolute;
  inset: 0;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  line-height: 0.9;
  letter-spacing: 1px;
  margin: 0;
}

.titleGreen {
  color: var(--primary-green);
}

.titleRed {
  color: rgba(157, 73, 73);
}

.notesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.notes {
  color: var(--primary-green);
  margin: 4px;
}

.notesInput {
  border: 2px solid var(--primary-green);
  border-radius: 3px;
  margin: 0;
  width: 80%;
}
