#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.base {
  position: relative;
  width: min(90vw, 70vh, 420px);
  aspect-ratio: 1 /1;
  background-color: rgb(238, 195, 142);
  border-radius: 50%;
  margin: 24px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  position: absolute;
  inset: 0;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  line-height: 0.9;
  letter-spacing: 1px;
  margin: 0;
}

.titleGreen {
  color: rgba(104, 157, 73);
}

.titleRed {
  color: rgba(157, 73, 73);
}
