#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.layer {
  position: absolute;
  inset: 0;
}

.title {
  font-family: "Jost", sans-serif;
  font-size: 70px;
  line-height: 0.9;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -2px;
  margin: 0;
}

.titleGreen {
  color: var(--primary-green);
}

.titleRed {
  color: rgba(157, 73, 73);
}

.notesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.notes {
  color: var(--primary-green);
  margin: 4px;
}

.notesInput {
  border: 2px solid var(--primary-green);
  border-radius: 3px;
  margin: 0;
  width: 80%;
}

.pizzaWrapper {
  position: sticky;
  top: 0;
  padding: 10px 0;
}

.controlsWrapper {
  overflow-y: auto;
  max-height: calc(100vh - 480px);
}
