.list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-inline-start: 0px;
}

.sectionTitle {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: "Jost", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--primary-green);
  text-align: center;
}

.item {
  position: relative;
  padding: 20px;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-green);
  width: 70vw;
}

.item::before {
  content: "";
  position: absolute;
  inset: 8px 0px;
  border-top: 4px solid var(--primary-beige);
  border-bottom: 4px solid var(--primary-beige);
  pointer-events: none;
}

.itemLink {
  display: flex;
  gap: 16px;
  text-decoration: none;
  color: inherit;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--primary-beige);
  gap: 4px;
}

.title {
  font-family: "Jost", sans-serif;
  font-size: 70px;
  line-height: 0.9;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -2px;
  margin: 0;
}

.titleGreen {
  color: var(--primary-green);
}

.titleRed {
  color: rgba(157, 73, 73);
}
