.list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-inline-start: 0px;
}

.item {
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
}

.optionsList {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 150px;
  color: var(--primary-green);
  background-color: var(--primary-beige);
  border: 2px solid var(--primary-green);
  padding: 20px;
  font-weight: 600;
  z-index: 9999;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.title {
  font-family: "Jost", sans-serif;
  font-size: 70px;
  line-height: 0.9;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -2px;
  margin: 0;
}

.titleGreen {
  color: var(--primary-green);
}

.titleRed {
  color: rgba(157, 73, 73);
}
