.header {
  font-family: "Jost", sans-serif;
  font-size: 70px;
  line-height: 0.9;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -2px;
  margin: 0;
  color: var(--primary-green);
}

.secondaryColour {
  color: var(--primary-red);
}

.signInButton {
  border: none;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  line-height: 0.9;
  font-weight: 600;
  letter-spacing: 0px;
  background-color: var(--primary-green);
  border-radius: 3px;
  padding: 10px 20px;
  color: var(--primary-beige);
  margin-top: 20px;
}

.signUpButton {
  border: none;
  font-family: "Jost", sans-serif;
  font-size: 15px;
  line-height: 0.9;
  font-weight: 600;
  letter-spacing: 0px;
  background-color: var(--primary-green);
  border-radius: 3px;
  padding: 8px 16px;
  color: var(--primary-beige);
}

input {
  border: none;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 0.9;
  font-weight: 500;
  letter-spacing: 0px;
  background-color: var(--primary-green);
  border-radius: 3px;
  padding: 5px 20px;
  color: var(--primary-beige);
}

input::placeholder {
  color: rgb(145, 190, 140);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
}
