.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  line-height: 0.9;
  letter-spacing: 1px;
  margin: 0;
}

.titleGreen {
  color: var(--primary-green);
}

.titleRed {
  color: rgba(157, 73, 73);
}

.orderMessage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0px;
  margin: 20px;
  text-align: center;
  color: var(--primary-green);
}

.trackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
